<div class="m-2 flex flex-grow flex-col items-center rounded-lg border border-black p-2">
	<h2 class="font-bold text-blue-500">Editor del curso: {{ this.curso?.nombre_curso }}</h2>
	<br />
	@if (this.curso?.clases_curso) {
		<div id="curso" class="w-full">
			@for (clase of this.curso?.clases_curso; track clase.id_clase) {
				<div class="flex w-full">
					<div class="m-2 items-start rounded-lg border border-black p-2">
						<p>{{ clase.posicion_clase }}</p>
					</div>
					<div id="clase-{{ clase.id_clase }}" class="m-2 flex flex-grow items-start rounded-lg border border-black p-2" draggable="true" (dragstart)="onDragStart($event, clase.id_clase)" (dragover)="this.onDragOver($event)" (drop)="this.onDrop($event)" (dragend)="this.onDragEnd()">
						<p>{{ clase.nombre_clase }}</p>
						<p class="ml-2 text-gray-500">{{ clase.descriccion_clase }}</p>
					</div>
					<button class="m-2 rounded-lg border border-black p-2">Editar esta clase</button>
				</div>
			}
		</div>
		<div class="flex">
			<button class="m-2 rounded-lg border border-black p-2">Reordenar las clases</button>
			<button class="m-2 rounded-lg border border-black p-2">Añadir una nueva clase</button>
			<button class="m-2 rounded-lg border border-black p-2">Eliminar una clase</button>
		</div>
	}
</div>
