<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="m-2 flex flex-grow flex-col items-center rounded-lg border border-black p-2">
	<h2 class="font-bold text-blue-500">Tu Perfil</h2>
	<br />
	@if (usuario) {
		<div class="flex w-full">
			<div class="m-4 w-1/6">
				<img id="fotoPrincipal" class="border border-black" [src]="usuario.foto_usuario[0]" alt="Foto" />
				<div class="flex flex-wrap">
					@for (foto of this.usuario.foto_usuario; track foto; let i = $index) {
						<div class="relative m-1 aspect-square w-1/4 border border-black" (click)="cambiaFoto(i)">
							@if (i === 0) {
								<img id="foto-{{ i }}" class="aspect-square border border-black p-1" [src]="foto" alt="Foto {{ i + 1 }}" />
							} @else {
								<img id="foto-{{ i }}" class="aspect-square p-1" [src]="foto" alt="Foto {{ i + 1 }}" />
							}
							@if (editable) {
								<svg class="absolute right-1 top-1" (click)="this.usuario.foto_usuario.splice(i, 1)" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 8 8"><path fill="currentColor" d="M3 0c-.55 0-1 .45-1 1H1c-.55 0-1 .45-1 1h7c0-.55-.45-1-1-1H5c0-.55-.45-1-1-1zM1 3v4.81c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19V3h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5V3h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5V3h-1z" /></svg>
							}
						</div>
					}
				</div>
				@if (this.editable) {
					<div class="mt-2">
						<label for="file-upload" class="mt-2 cursor-pointer rounded-lg border border-black p-2"> Sube tus fotos!! </label>
						<input id="file-upload" type="file" accept="image/jpeg, image/png, image/gif, image/webp, image/svg+xml" multiple class="hidden" (change)="cargaFoto($event)" />
					</div>
				}
			</div>
			<div class="flex flex-grow flex-col items-center">
				<span>Nombre: </span>
				@if (editable) {
					<input class="border-2 border-black bg-transparent" id="nombre" type="text" placeholder="Tu nombre" [(ngModel)]="usuario.nombre_usuario" />
				} @else {
					<p>{{ this.usuario.nombre_usuario }}</p>
				}
				<br />
				<span>Presentación: </span>
				@if (editable) {
					<textarea class="w-full border-2 border-black bg-transparent p-2" id="presentacion" placeholder="Tu Presentación" maxlength="255" cols="64" rows="4" [(ngModel)]="usuario.presentacion"></textarea>
				} @else {
					<p>{{ this.usuario.presentacion }}</p>
				}
				<div class="mt-auto flex">
					@if (editable) {
						<button class="m-2 rounded-lg border border-black p-2" (click)="save(); this.editable = false">Guardar</button>
					} @else {
						<button class="m-2 rounded-lg border border-black p-2" (click)="this.editable = true">Editar</button>
					}
				</div>
			</div>
		</div>
	}
</div>
