<div class="h-80 w-full sm:h-64">
	@if (this.cursoService.cursos.length > 0) {
		<swiper-container #swiper [breakpoints]="responsiveOptions" [autoplay]="autoplayOptions" loop="true" class="h-80 w-full sm:h-64">
			@for (curso of this.cursoService.cursos; track curso.id_curso) {
				<swiper-slide>
					<div class="relative m-2 h-11/12 cursor-pointer border border-black dark:border-gray-400" (click)="router.navigate(['/curso/' + curso.id_curso])" tabindex="0" (keydown.enter)="router.navigate(['/curso/' + curso.id_curso])">
						<div style="background-image: url('{{ curso.imagen_curso }}')" class="absolute inset-0 bg-cover bg-center opacity-20 transition-opacity duration-300 hover:opacity-30 dark:opacity-30 dark:hover:opacity-50"></div>
						<h4 class="text-center font-bold text-blue-700">{{ curso.nombre_curso }}</h4>
						<div class="m-3 flex items-center justify-between">
							@for (profe of curso.profesores_curso; track profe) {
								<span class="font-bold">Por: {{ profe.nombre_usuario }}</span>
								<img src="{{ profe.foto_usuario[0] }}" alt="logo" class="h-12 w-12 object-contain" />
							}
						</div>
						<p class="mr-3 ml-3">{{ curso.descriccion_corta }}</p>
					</div>
				</swiper-slide>
			}
		</swiper-container>
	}
</div>

<div id="descripcion" class="relative m-2 cursor-default border border-black p-4 dark:border-gray-400">
	<div class="absolute inset-0 bg-white bg-cover bg-center opacity-20 dark:hidden" tabindex="0" style="background-image: url('../../../assets/montserrat.webp')"></div>
	<h2 class="mb-4 font-bold text-blue-700">EL MEJOR LUGAR PARA APRENDER SOBERANÍA ES ESPAÑOL!!</h2>
	<p>Los mayores expertos en Soberanía, Ley Natural, Derecho Consuetudinario, Derecho Marítimo y Derecho Canónico!</p>
	<p>Juntos en una sola plataforma, ofreciendo sus conocimientos a todo Hombre/Mujer interesados en la libertad.</p>
	<p>Clases en Video on-demand, formularios, plantillas, procesos...</p>
	<p>Todo lo que un Soberano necesita saber para defenderse de los Humanistas Seculares.</p>
	<p>Con la posibilidad de chatear con los Profesores y los demás estudiantes para aclarar dudas.</p>
	<p>Eventos exclusivos en directo, live-streaming, congresos y mucho mas!!</p>
	<p>Que esperas?? Regístrate, compra el curso que mas te guste o elige un plan de estudios!</p>
</div>

<div id="profesores" class="relative m-2 flex h-80 cursor-default flex-col border border-black p-4 sm:h-60 md:h-40 dark:border-gray-400" tabindex="0">
	<div class="absolute inset-0 bg-white bg-cover bg-center opacity-20 dark:hidden" style="background-image: url('../../../assets/oceano.webp')"></div>
	<h2 class="font-bold text-blue-700">LOS PROFESORES:</h2>
	<div id="profes" class="h-5/6 flex-1 p-2"></div>
</div>
<div class="h-20">
	@if (this.initService.estadistica) {
		<div id="estadisticas" class="m-2 cursor-default border border-black p-2 dark:border-gray-400" tabindex="0">
			<div class="flex">
				<div class="flex w-1/2 flex-col items-center justify-center">
					<p>Profesores: {{ this.initService.estadistica.profesores }}</p>
					<p>Alumnos: {{ this.initService.estadistica.alumnos }}</p>
				</div>
				<div class="flex w-1/2 flex-col items-center justify-center">
					<p>Cursos: {{ this.initService.estadistica.cursos }}</p>
					<p>Clases: {{ this.initService.estadistica.clases }}</p>
				</div>
			</div>
		</div>
	}
</div>
