<div id="carousel" class="mt-2 grid h-60 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
	<div class="relative m-2 border border-black">
		<div class="absolute inset-0 bg-cover bg-center opacity-20 transition-opacity duration-300 hover:opacity-30" style="background-image: url('../../../assets/Logo-REML.png')"></div>
		<h4 class="text-center font-bold text-blue-500">Curso de uso de la R.E.M.L</h4>
		<div class="m-3 flex items-center justify-between"><span>Por: Rodri KMTR </span><img class="h-12 w-12 object-contain" src="../../../assets/Logo-REML.png" alt="R.E.M.L" /></div>
		<p class="ml-3 mr-3">Aprende a utilizar la R.E.M.L., la acreditación que te reconoce como el Soberano que eres.</p>
	</div>

	<div class="relative m-2 border border-black">
		<div class="absolute inset-0 bg-cover bg-center opacity-20 transition-opacity duration-300 hover:opacity-30" style="background-image: url('../../../assets/sello-ex-libris-1.png')"></div>
		<h4 class="text-center font-bold text-blue-500">Curso de Acreedor Asegurado</h4>
		<div class="m-3 flex items-center justify-between"><span>Por: Ra Amón de la REML </span><img class="h-12 w-12 object-contain" src="../../../assets/sello-ex-libris-1.png" alt="R.E.M.L" /></div>
		<p class="ml-3 mr-3">El mejor remedio al Fraude del nombre legal.</p>
		<p class="ml-3 mr-3">Recupera el control sobre tus propiedades, embargando al D.N.I.</p>
	</div>

	<div class="relative m-2 border border-black">
		<div class="absolute inset-0 bg-cover bg-center opacity-20 transition-opacity duration-300 hover:opacity-30" style="background-image: url('../../../assets/roble\ texto.png')"></div>
		<h4 class="text-center font-bold text-blue-500">Curso de Libertad Financiera</h4>
		<div class="m-3 flex items-center justify-between"><span>Por: Matt I de la Gole </span><img class="h-12 w-12 object-contain" src="../../../assets/roble texto.png" alt="R.E.M.L" /></div>
		<p class="ml-3 mr-3">Aprende las técnicas de ingeniería financiera para dejar de pagar impuestos sobre tu trabajo!!</p>
	</div>
	<div class="relative m-2 border border-black">
		<div class="absolute inset-0 bg-cover bg-center opacity-20 transition-opacity duration-300 hover:opacity-30" style="background-image: url('../../../assets/Logo\ LJS\ morado.png')"></div>
		<h4 class="text-center font-bold text-blue-500">Curso de Copyright</h4>
		<div class="m-3 flex items-center justify-between"><span>Por: El equipo de L.J.S. </span><img class="h-12 w-12 object-contain" src="../../../assets/Logo LJS morado.png" alt="R.E.M.L" /></div>
		<p class="ml-3 mr-3">Desde la base hasta la practica.</p>
		<p class="ml-3 mr-3">Registra tu nombre, tu casa, tu coche y todas tus obras como Marcas Registradas y obtiene el control absoluto.</p>
	</div>
</div>
<div id="descripcion" class="relative mt-2 border border-black p-4">
	<div class="absolute inset-0 bg-white bg-cover bg-center opacity-20" style="background-image: url('../../../assets/montserrat.jpg')"></div>
	<h2 class="mb-4 font-bold text-blue-500">EL MEJOR LUGAR PARA APRENDER SOBERANÍA ES ESPAÑOL!!</h2>
	<p>Los mayores expertos en Soberanía, Ley Natural, Derecho Consuetudinario, Derecho Marítimo y Derecho Canónico!</p>
	<p>Juntos en una sola plataforma, ofreciendo sus conocimientos a todo Hombre/Mujer interesados en la libertad.</p>
	<p>Clases en Video on-demand, formularios, plantillas, procesos...</p>
	<p>Todo lo que un Soberano necesita saber para defenderse de los Humanistas Seculares.</p>
	<p>Con la posibilidad de chatear con los Profesores y los demás estudiantes para aclarar dudas.</p>
	<p>Eventos exclusivos en directo, live-streaming, congresos y mucho mas!!</p>
	<p>Que esperas?? Regístrate, compra el curso que mas te guste o elige un plan de estudios!</p>
</div>

<div id="profesores" class="relative mt-2 h-40 border border-black">
	profesores
	<div class="absolute inset-0 bg-white bg-cover bg-center opacity-20" style="background-image: url('../../../assets/oceano.jpg')"></div>
</div>
<div id="estadisticas" class="mt-2 border border-black">estadisticas</div>
