<div id="carousel" class="mt-2 grid h-60 grid-cols-2 overflow-hidden md:grid-cols-3 lg:grid-cols-4">
	@for (curso of this.cursoService.cursos; track curso.id_curso) {
		<div class="relative m-2 cursor-pointer border border-black" (click)="router.navigate(['/curso/' + curso.id_curso])" tabindex="0" (keydown.enter)="router.navigate(['/curso/' + curso.id_curso])">
			<div style="background-image: url('{{ curso.imagen_curso }}')" class="absolute inset-0 bg-cover bg-center opacity-20 transition-opacity duration-300 hover:opacity-30"></div>
			<h4 class="text-center font-bold text-blue-700">{{ curso.nombre_curso }}</h4>
			<div class="m-3 flex items-center justify-between">
				@for (profe of curso.profesores_curso; track profe) {
					<span class="font-bold">Por: {{ profe.nombre_usuario }}</span>
					<img src="{{ profe.foto_usuario }}" alt="logo" class="h-12 w-12 object-contain" />
				}
			</div>
			<p class="ml-3 mr-3">{{ curso.descriccion_corta }}</p>
		</div>
	}
</div>
<div id="descripcion" class="relative m-2 border border-black p-4">
	<div class="absolute inset-0 bg-white bg-cover bg-center opacity-20" tabindex="0" style="background-image: url('../../../assets/montserrat.jpg')"></div>
	<h2 class="mb-4 font-bold text-blue-700">EL MEJOR LUGAR PARA APRENDER SOBERANÍA ES ESPAÑOL!!</h2>
	<p>Los mayores expertos en Soberanía, Ley Natural, Derecho Consuetudinario, Derecho Marítimo y Derecho Canónico!</p>
	<p>Juntos en una sola plataforma, ofreciendo sus conocimientos a todo Hombre/Mujer interesados en la libertad.</p>
	<p>Clases en Video on-demand, formularios, plantillas, procesos...</p>
	<p>Todo lo que un Soberano necesita saber para defenderse de los Humanistas Seculares.</p>
	<p>Con la posibilidad de chatear con los Profesores y los demás estudiantes para aclarar dudas.</p>
	<p>Eventos exclusivos en directo, live-streaming, congresos y mucho mas!!</p>
	<p>Que esperas?? Regístrate, compra el curso que mas te guste o elige un plan de estudios!</p>
</div>

<div id="profesores" class="relative m-2 flex h-40 flex-col border border-black p-4" tabindex="0">
	<div class="absolute inset-0 bg-white bg-cover bg-center opacity-20" style="background-image: url('../../../assets/oceano.jpg')"></div>
	<h2 class="font-bold text-blue-700">LOS PROFESORES:</h2>
	<div id="profes" class="h-5/6 flex-1 p-2"></div>
</div>
@if (this.initService.estadistica) {
	<div id="estadisticas" class="m-2 border border-black p-2" tabindex="0">
		<div class="flex">
			<div class="flex w-1/2 flex-col items-center justify-center">
				<p>Profesores: {{ this.initService.estadistica.profesores }}</p>
				<p>Alumnos: {{ this.initService.estadistica.alumnos }}</p>
			</div>
			<div class="flex w-1/2 flex-col items-center justify-center">
				<p>Cursos: {{ this.initService.estadistica.cursos }}</p>
				<p>Clases: {{ this.initService.estadistica.clases }}</p>
			</div>
		</div>
	</div>
}
