<div id="content" class="relative">
	<br />
	<div id="message"></div>
	<span class="m-4 rounded-lg border border-black p-1">Tu Nombre (el que se mostrará a los demás):</span>
	<br />
	<input type="text" class="m-4 rounded-lg border border-black p-1" placeholder="Tu Nombre (el que se mostrará a los demás)" />
	<br />
	<span class="m-4 rounded-lg border border-black p-1">Tu Correo Electrónico:</span>
	<br />
	<input type="text" class="m-4 rounded-lg border border-black p-1" placeholder="Tu Correo Electrónico" />
	<br />
	<button class="m-4 rounded-lg border border-black p-1">Siguiente</button>
	<button class="m-4 rounded-lg border border-black p-1" (click)="close()">Cancelar</button>
</div>
