<div [class.dimmed]="isModalVisible" class="flex h-full w-full flex-col">
	<header class="relative w-full rounded-b-lg bg-cyan-500">
		<div class="text-center text-3xl font-bold text-yellow-500">
			<h1 class="cursor-pointer" (click)="this.router.navigate(['']); this.vistaMenu = false">SOVEREIGN SCHOOL</h1>
		</div>
		@if (this.loginservice.usuario == null) {
			<button type="button" class="absolute right-2 top-2 mr-2 size-8 justify-end" href=""><img src="../assets/OiAccountLogin.png" alt="login" (click)="openModal()" /></button>
		} @else {
			<button class="absolute right-1 top-2 mr-1 justify-end rounded-lg border border-black pl-1 pr-1" (click)="this.vistaMenu = !this.vistaMenu">Bienvenido {{ this.loginservice.usuario.nombre_usuario }}</button>
			@if (this.vistaMenu == true) {
				<div class="absolute right-2 z-10 mt-2 flex flex-col items-start rounded-lg bg-gray-200 p-4 shadow-lg">
					<button class="mb-1 hover:text-blue-500" (click)="this.router.navigate(['cursosUsuario']); this.vistaMenu = false">Tus Cursos</button>
					<button class="mb-1 hover:text-blue-500" (click)="this.vistaMenu = false">Tus Chats</button>
					<button class="mb-1 hover:text-blue-500" (click)="this.vistaMenu = false">Tu perfil</button>
					<button class="hover:text-blue-500" (click)="this.salir()">Salir</button>
				</div>
			}
		}

		<div class="w-full overflow-hidden">
			<h3 class="inline-block animate-slideIn font-bold text-green-700">El mejor lugar para aprender Soberanía!!!</h3>
		</div>
	</header>

	<app-search class="flex p-2"></app-search>

	<router-outlet class="flex-grow"></router-outlet>

	<footer class="mb-0 flex w-full flex-grow rounded-t-lg bg-cyan-500">
		<div class="flex-1 justify-center p-2 text-white">
			<p>Copyright© <span id="fecha_copyright">2024</span></p>
			<p>Todos los derechos reservados.</p>
		</div>
		<div class="align-center flex flex-1 items-center justify-center p-2 text-white">
			<a href="">Política de privacidad</a>
		</div>
		<div class="flex flex-1 items-center justify-end p-2 text-white">
			<button type="button" class="justify-end">Cambio estilo</button>
		</div>
	</footer>
</div>
<app-log-modal *ngIf="isModalVisible"></app-log-modal>
