::ng-deep input::placeholder {
	color: rgb(150, 150, 150);
}

::ng-deep input {
	padding-left: 10px;
}

:host {
	min-height: 100%;
	max-height: 500%;
	overflow-y: auto;
}

.dimmed {
	opacity: 0.3;
	pointer-events: none;
}
