<header class="w-full bg-cyan-500">
  <h1 class="text-center text-3xl font-bold text-yellow-500">
    SOVEREIGN SCHOOL
  </h1>
  <a class="absolute right-2 top-2 justify-end" href="">Login</a>
  <div class="w-full overflow-hidden">
    <h3 class="animate-slideIn inline-block font-bold text-green-700">
      texto de prueba
    </h3>
  </div>
</header>
<app-search class="flex p-2"></app-search>
<div class="flex p-2">
  <router-outlet></router-outlet>
</div>

<footer class="flex w-full bg-cyan-500">
  <div class="flex-1 justify-center p-2 text-white">
    <p>Copyright© <span id="fecha_copyright">2024</span></p>
    <p>Todos los derechos reservados.</p>
  </div>
  <div class="align-center flex flex-1 items-center justify-center p-2">
    <a href="">Política de privacidad</a>
  </div>
  <div class="flex flex-1 items-center justify-end p-2">
    <button type="button" class="justify-end">Cambio estilo</button>
  </div>
</footer>
