<div id="content" class="relative">
	<br />
	<div id="message" class="ml-4 mr-4 text-red-600"></div>
	<span class="m-4 rounded-lg p-1">Correo Electrónico:</span>
	<br />
	<input type="text" id="correo" class="m-4 rounded-lg border border-black p-1" placeholder="Correo electrónico asociado a tu cuenta" />
	<br />
	<button class="m-4 rounded-lg border border-black bg-green-300 p-1" (click)="compruebaCorreo()">Siguiente</button>
	<button class="m-4 rounded-lg border border-black bg-red-300 p-1" (click)="close()">Cancelar</button>
</div>
