<div class="flex flex-grow flex-col">
	<img class="absolute -z-50 h-full w-full object-cover object-center opacity-20" [src]="this.chat?.foto_curso" alt="curso" />
	@if (this.chat === null) {
		<h3>CARGANDO...</h3>
	} @else {
		<h3 class="text-center font-bold text-green-700">{{ this.chat.nombre_curso }} (CHAT)</h3>
		<div class="m-2 flex flex-col rounded-lg border border-black p-2">
			@for (clase of this.chat.clases; track $index) {
				<button class="m-2 flex rounded-lg border border-black p-2" (click)="abreChatClase(clase.id_clase)">
					<p class="flex-grow">{{ clase.nombre_clase }}</p>
					<img class="h-6 w-6" src="../../../../assets/arrow-down.svg" alt="open" />
				</button>
				<div id="clase-{{ clase.id_clase }}" class="clases hidden">
					@if (clase.mensajes.length === 0) {
						<p class="text-center text-gray-500">No hay mensajes en esta clase</p>
					}
					@for (mex of clase.mensajes; track $index) {
						<div id="mex-{{ mex.id_mensaje }}" class="m-2 flex rounded-lg border border-black p-2">
							<div class="flex-grow flex-col">
								<p class="text-gray-500">Mensaje de: {{ mex.nombre_usuario }}</p>
								@if (mex.respuesta) {
									<p class="text-gray-500">En respuesta a: {{ mex.respuesta.nombre_usuario }}</p>
									<p class="text-gray-500">{{ mex.respuesta.mensaje }}</p>
								}
								<p>{{ mex.mensaje }}</p>
							</div>
							<button (click)="this.respuestaClase = mex; this.respuesta = null; this.cdr.detectChanges()"><img src="../../../../assets/reply.svg" alt="reply" class="h-6 w-6" /></button>
						</div>
					}
					<br />
					@if (respuestaClase !== null) {
						<div class="rounded-t-lg border border-black border-b-transparent p-2">
							<div class="flex">
								<p class="flex-grow text-gray-500">En respuesta a: {{ respuestaClase.nombre_usuario }}</p>
								<button (click)="this.respuesta = null; this.respuestaClase = null; this.cdr.detectChanges()"><img src="../../../../assets/close.svg" alt="close" class="h-6 w-6" /></button>
							</div>
							<p class="text-gray-500">{{ respuestaClase.mensaje }}</p>
						</div>
					}
					@if (pregunta !== null) {
						<div class="rounded-t-lg border border-black border-b-transparent p-2">
							<div class="flex">
								<p class="flex-grow text-gray-500">Pregunta en el momento {{ pregunta.minute }}:{{ pregunta.second }}</p>
								<button (click)="cierraPregunta(clase.id_clase)"><img src="../../../../assets/close.svg" alt="close" class="h-6 w-6" /></button>
							</div>
						</div>
					}
					<div class="flex">
						<input id="mexc-{{ clase.id_clase }}" type="text" class="w-full rounded-lg border border-black bg-transparent p-2 text-black" placeholder="Escribe tu mensaje en la clase..." />
						<button type="button" class="rounded-lg border border-black bg-transparent p-2 text-black" (click)="this.enviarMensaje(clase.id_clase)">Enviar</button>
					</div>
				</div>
			}
		</div>
		<br />
		@for (mensaje of this.chat.mensajes; track $index) {
			<div id="mex-{{ mensaje.id_mensaje }}" class="m-2 flex rounded-lg border border-black p-2">
				<div class="flex-grow flex-col">
					<p class="text-gray-500">Mensaje de: {{ mensaje.nombre_usuario }}</p>
					@if (mensaje.respuesta) {
						<p class="text-gray-500">En respuesta a: {{ mensaje.respuesta.nombre_usuario }}</p>
						<p class="text-gray-500">{{ mensaje.respuesta.mensaje }}</p>
					}
					<p>{{ mensaje.mensaje }}</p>
				</div>
				<button (click)="this.respuesta = mensaje; this.respuestaClase = null; this.cdr.detectChanges()"><img src="../../../../assets/reply.svg" alt="reply" class="h-6 w-6" /></button>
			</div>
		}
		<br />
		@if (respuesta !== null) {
			<div class="rounded-t-lg border border-black border-b-transparent p-2">
				<div class="flex">
					<p class="flex-grow text-gray-500">En respuesta a: {{ respuesta.nombre_usuario }}</p>
					<button (click)="this.respuesta = null; this.cdr.detectChanges()"><img src="../../../../assets/close.svg" alt="close" class="h-6 w-6" /></button>
				</div>
				<p class="text-gray-500">{{ respuesta.mensaje }}</p>
			</div>
		}
		<div class="flex">
			<input id="mex" type="text" class="w-full rounded-lg border border-black bg-transparent p-2 text-black" placeholder="Escribe tu mensaje en el curso..." />
			<button type="button" class="rounded-lg border border-black bg-transparent p-2 text-black" (click)="this.enviarMensaje()">Enviar</button>
		</div>
	}
</div>
