:host {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9; /* 90% del tamaño */
	max-width: 90%;
	max-height: 90%;
	overflow-y: auto;
}

.custom {
	margin-top: 33px;
}
