<div class="relative m-2 flex h-screen w-screen flex-col rounded-lg border border-black p-2 pb-4">
	<!-- Canvas con cruz -->
	<div class="relative flex h-3/4 pr-4">
		<div id="canvas-container" class="relative aspect-video h-full">
			<canvas (mousemove)="canvasMouseMove($event)" id="salida" width="1280" height="720" autoplay playsinline class="h-full w-full border border-black bg-white"></canvas>
		</div>
	</div>
	<br />
	<div class="relative flex h-1/4 pb-4">
		<div class="relative flex w-1/6 flex-col">
			@for (device of this.audioDevices; track device.deviceId) {
				<div draggable="true" class="audio-bar m-2 flex h-8 items-center justify-center rounded-lg border border-black bg-transparent text-center">
					<p class="m-2 w-full overflow-hidden truncate text-ellipsis whitespace-nowrap">{{ device.label || 'Micrófono sin nombre' }}</p>
					<div [id]="device.deviceId" class="audio-level"></div>
				</div>
			}
		</div>
		@for (device of this.videoDevices; track device.deviceId) {
			<div id="div-{{ device.deviceId }}" class="relative m-2 flex w-1/6 justify-center bg-transparent text-center">
				<video #videoElement (mousedown)="mousedown($event, device.deviceId)" [id]="device.deviceId" autoplay playsinline class="rounded-lg border border-black"></video>
			</div>

			<!-- @if (device.kind === 'audiooutput') {
				<div class="m-2 flex w-1/6 rounded-lg border border-black bg-transparent p-2">
					<p>{{ device.label || 'Altavoz sin nombre' }}</p>
				</div>
			} -->
		}
		@for (captura of this.capturas; track captura.id) {
			<div id="div-{{ captura.id }}" class="relative m-2 flex w-1/6 flex-col rounded-lg border border-black bg-transparent">
				<video #videoElement (mousedown)="mousedown($event, captura.id)" [id]="captura.id" autoplay playsinline muted class="rounded-lg border border-black" [srcObject]="captura"></video>
				@if (captura.getAudioTracks().length > 0) {
					@for (audioTrack of captura.getAudioTracks(); track $index) {}
					<div class="audio-bar m-1 flex h-4 rounded-lg border border-black">
						<div [id]="captura.getAudioTracks()[$index].id" class="audio-level"></div>
					</div>
				}
			</div>
		}
		<div class="m-2 w-1/6 cursor-pointer justify-center rounded-lg border border-black bg-gray-400" (click)="addScrean()" tabindex="0" (keydown.enter)="addScrean()">
			<p class="p-2">Añadir pantalla</p>
		</div>
	</div>
</div>

<!-- Capa elementos emitidos -->
<div id="capa" class="group absolute left-0 top-0 z-10 hidden h-full w-full rounded-lg bg-black opacity-50 hover:opacity-80">
	<button id="buttonxcapa" class="absolute right-0 top-0 m-2 hidden h-4 w-4 rounded-full text-gray-700 hover:text-gray-500 group-hover:block">
		<svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="currentColor" />
		</svg>
	</button>
</div>

<!-- Cruz del arrastre -->
<div id="cross" class="pointer-events-none absolute inset-0">
	<!-- Línea vertical -->
	<div id="vertical" class="absolute left-1/2 top-0 h-full w-[2px] -translate-x-1/2" style="display: none; background-color: #b91c1c"></div>
	<!-- Línea horizontal -->
	<div id="orizontal" class="absolute left-0 top-1/2 h-[2px] w-full -translate-y-1/2" style="display: none; background-color: #b91c1c"></div>
</div>

<!-- Marco azul -->
<div id="marco" class="absolute inset-0 z-10 border-2 bg-black opacity-50" style="visibility: hidden; border: 2px solid #1d4ed8">
	<button id="buttonx" class="absolute right-0 top-0 z-20 mr-1 mt-5 h-4 w-4 cursor-pointer rounded-full text-gray-700 hover:text-gray-500 group-hover:block">
		<svg class="h-4 w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z" fill="currentColor" />
		</svg>
	</button>

	<div id="tirador-tl" (mousedown)="redimensionado($event)" class="bordr absolute left-0 top-0 z-20 h-4 w-4 cursor-pointer border border-white hover:border-2"></div>
	<div id="tirador-tr" (mousedown)="redimensionado($event)" class="bordr absolute right-0 top-0 z-20 h-4 w-4 cursor-pointer border border-white hover:border-2"></div>
	<div id="tirador-bl" (mousedown)="redimensionado($event)" class="bordr absolute bottom-0 left-0 z-20 h-4 w-4 cursor-pointer border border-white hover:border-2"></div>
	<div id="tirador-br" (mousedown)="redimensionado($event)" class="bordr absolute bottom-0 right-0 z-20 h-4 w-4 cursor-pointer border border-white hover:border-2"></div>
	<div id="tirador-center" (mousedown)="redimensionado($event)" class="bordr absolute left-[50%] top-[50%] z-20 h-4 w-4 -translate-x-1/2 -translate-y-1/2 cursor-pointer border border-white hover:border-2"></div>

	<div id="line1" class="absolute h-[1px] origin-top-left transform bg-white"></div>
	<div id="line2" class="absolute h-[1px] origin-top-right transform bg-white" style="border: null"></div>
</div>
