<div class="relative m-2 flex h-screen w-screen flex-col rounded-lg border border-black p-2 pb-4">
	<!-- Canvas con cruz -->
	<div class="relative flex h-3/4 pr-4">
		<div class="relative aspect-video h-full">
			<canvas id="salida" width="1280" height="720" autoplay playsinline class="h-full w-full border border-black bg-white"></canvas>
			<!-- Cruz del arrastre -->
			<div id="cross" class="pointer-events-none absolute inset-0">
				<!-- Línea vertical -->
				<div id="vertical" class="absolute left-1/2 top-0 hidden h-full w-[2px] -translate-x-1/2 bg-red-700"></div>
				<!-- Línea horizontal -->
				<div id="orizontal" class="absolute left-0 top-1/2 hidden h-[2px] w-full -translate-y-1/2 bg-red-700"></div>
			</div>
		</div>
	</div>
	<br />
	<div class="relative flex h-1/4 pb-4">
		<div class="relative flex w-1/6 flex-col">
			@for (device of this.audioDevices; track device.deviceId) {
				<div draggable="true" class="audio-bar m-2 flex h-8 items-center justify-center rounded-lg border border-black bg-transparent text-center">
					<p class="m-2 w-full overflow-hidden truncate text-ellipsis whitespace-nowrap">{{ device.label || 'Micrófono sin nombre' }}</p>
					<div [id]="device.deviceId" class="audio-level"></div>
				</div>
			}
		</div>
		@for (device of this.videoDevices; track device.deviceId) {
			<div id="div-{{ device.deviceId }}" class="relative m-2 flex w-1/6 justify-center bg-transparent text-center">
				<video #videoElement (mousedown)="mousedown($event, device.deviceId)" [id]="device.deviceId" autoplay playsinline class="rounded-lg border border-black"></video>
			</div>

			<!-- @if (device.kind === 'audiooutput') {
				<div class="m-2 flex w-1/6 rounded-lg border border-black bg-transparent p-2">
					<p>{{ device.label || 'Altavoz sin nombre' }}</p>
				</div>
			} -->
		}
		@for (captura of this.capturas; track captura.id) {
			<div id="div-{{ captura.id }}" class="relative m-2 flex w-1/6 flex-col rounded-lg border border-black bg-transparent">
				<video #videoElement (mousedown)="mousedown($event, captura.id)" [id]="captura.id" autoplay playsinline muted class="rounded-lg border border-black" [srcObject]="captura"></video>
				@if (captura.getAudioTracks().length > 0) {
					@for (audioTrack of captura.getAudioTracks(); track $index) {}
					<div class="audio-bar m-1 flex h-4 rounded-lg border border-black">
						<div [id]="captura.getAudioTracks()[$index].id" class="audio-level"></div>
					</div>
				}
			</div>
		}
		<div class="m-2 w-1/6 cursor-pointer justify-center rounded-lg border border-black bg-gray-400" (click)="addScrean()" tabindex="0" (keydown.enter)="addScrean()">
			<p class="p-2">Añadir pantalla</p>
		</div>
	</div>
</div>
